.body {
	position: absolute;
	background-color: white;
	max-width: 960px;
	min-height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	width: 100%;
}

.header__block-1 {
	height: 110px;
	flex: 1 1 130px;
	margin-right: 20px;
}

.header__block-2 {
	background-color: grey;
	height: 110px;
	flex: 1 1 300px;
	margin-right: 20px;
}

.header__block-3 {
	background-color: grey;
	height: 110px;
	flex: 1 1 490px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header-text-position {
	margin-right: 10px;
	margin-bottom: -10px; 
}

.header__text1, .header__text2, .header__text3 {
	color: white;
}

.header__text2, .header__text3 {
	border-bottom: 1px solid white;
}

.line {
  background-color: gray;
  height: 1px;
  width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-self: flex-start;
	width: 100%;
}

.left {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 180px;
}

.left__block {
	background-color: grey;
	padding: 15px 7px;
	color: white;
}

.left__img {
	height: 100px;
	width: 100%;
	background-color: grey;
	align-self: flex-end;
}

.center {
	display: flex;
	flex-direction: column;
	flex: 1 0;
}

.center__block-1 {
	background-color: grey;
	color: white;
	padding: 0 15px 15px 15px;
	margin-left: 20px;
}

.center__list {
	margin: 10px 0;
}

.center__block-2 {
	display: flex;
	flex-wrap: wrap;
}

.center__img {
	margin-left: 20px;
	margin-top: 20px;
	width: 133px;
	height: 140px;
}

.center__block-3 {
	display: flex;
	justify-content: space-between;
}

.center-block-3__elem1 {
	background-color: grey;
	max-width: 45%;
	margin-left: 20px;
	margin-top: 20px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.center-block-3__elem2 {
	background-color: grey;
	max-width: 45%;
	margin-left: 20px;
	margin-top: 20px;
	padding: 10px;
}

.footer {
	color: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-self: flex-end;
	width: 100%;
	height: 250px;
}

.footer__left {
	padding: 10px;
	margin: 0;
	margin-right: 20px;
	background-color: grey;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1 1 100px;
	height: 76%;
	list-style-type: none;
}

.footer__center {
	margin: 0;
	margin-right: 20px;
	padding: 10px;
	background-color: grey;
	display: flex;
	flex-direction: column;
	flex: 1 1 100px;
	height: 76%;
	list-style-type: square;
}

.footer-list-item {
	margin: 10px;
	margin-bottom: 0;
}

.footer-center-list-item {
	margin-left: 25px;
}

.footer__right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 1 100px;
	height: 84%;
}

.footer-right__elem1 {
	background-color: grey;
	height: 45%;
}

.footer-right__elem2 {
	height: 45%;
}

.body-position {
	margin: 0 auto;
	padding: 20px 64px;
}

.line2 {
	align-self: flex-end;
	width: 100%;
}

/*@media (max-width: 1200px) {
	.body-position {
		padding: 20px 0;
	}
	.content {
		justify-content: flex-start;
	}
	.center {
		flex-shrink: 1;
	}
}

@media (max-width: 1024px) {
	.body-position {
		padding: 20px 0;
	}
	.content {
		justify-content: flex-start;
	}
	.center {
		flex-shrink: 2;
	}
}

@media (max-width: 960px) {
	.body-position {
		padding: 20px 0;
	}
	.content {
		justify-content: flex-start;
	}
	.center {
		flex-shrink: 3;
	}
}

@media (max-width: 767px) {
	.body-position {
		padding: 20px 0;
	}
	.content {
		justify-content: flex-start;
	}
	.center {
		flex-shrink: 4;
		word-break: break-all;
	}
}*/